/* Personalize.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}
.navbar {
  background: rgba(255, 255, 255, 0.8);
}

.search-bar {
  display:flex;
  justify-content: center;
  padding: 20px;
  margin-top: 65px;
  height: 50px;
}

.search-bar input[type="text"] {
  width: 50%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  padding: 10px 20px;
  border: none;
  background-color: #6fd09c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}
.form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 60%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #218838;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.recipe-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  margin-bottom: 20px;
}

.recipe-card img {
  width: 100%;
  height: auto;
}

.recipe-card h2 {
  margin: 0;
  padding: 15px;
  background-color: #f8f9fa;
  font-size: 1.2em;
  color: #333;
}

.recipe-card p {
  padding: 15px;
  color: #555;
}

.error {
  color: red;
  text-align: center;
}
